.container
{
    display: flex;
    align-items: center;
    justify-content: center;
}

.row
{
    margin-top: 36px;
}
.card
{
    display: flex;
    justify-content: center;
    margin: 14px;
    padding: 24px;
    border-radius: 8px;
    border-width: 0px;
    box-shadow: 0 20px 25px -5px rgba(0, 0, 0, 0.1),0 10px 10px -5px rgba(0, 0, 0, 0.04);
}

.card-title
{
    font-weight: bold;
    text-align: center;
}

.card-text
{
    text-align: center;
}

.btn-menu
{
    background-color: #F8FAFC;
    font-weight: bold;
    border-radius: 8px;
    font-size: 1rem;
    box-shadow: 0 5px 20px 0px rgb(255 240 240);
}

.btn-menu:hover
{
    background-color: #E53E3E;
    color: white;
}
